body {
    font-family:  'Roboto', sans-serif;
    font-size: 18px;
}

.container {
    background-color: #333;
    color: #eee;
    width: 80%;
    box-sizing: border-box;

    /*margin: auto;*/
    margin-top: 60px ;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 60px;
    /*Mesma coisa que acima*/
    margin: 50px;

    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
    /*Mesma coisa que acima*/
    padding: 60px;

    border-top: 15px solid red;
    border-left: 15px solid blue;
    border-right: 15px solid yellow;
    border-bottom: 15px solid green;


    
} 